/*----Large Device----*/

@media screen and (max-width:1200px) {
    
    h2 {
        font-size: 35px;
        letter-spacing: 10px;
    }


    /*menu-principal*/


    #logo img {
        height: 100px;
    }
       
    #redes-sociais {
        font-size: 47px;
        padding: 30px;
    }
    

/*menu-secundario*/


main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
}



#menu-secundario {
    font-size: 40px;
}

    
/*-----Perfil------*/

#perfil {
    margin-top: 250px;
    min-height: 60vh;
}

 #perfil img {
    width: 300px;
    margin-top: 0px;
}

#perfil h1 {
    font-size: 70px;
    margin-top: 30px;
}

#perfil p {
    font-size: 45px;
    margin-bottom: 0px;
}

/*-----Sobre Mim-----*/


#sobre-texto blockquote {  
    font-size: 28px;  
}

#sobre-texto p {
    font-size: 25px;
    letter-spacing: 3px;
}

/*-----Tecnologias-----*/

.dual-cards h4 {
    font-size: 32px;
}
 
.space img {
    max-width:130x;
    max-height:130px;
    width: auto;
    height: auto;
}


/*-----Formação-----*/


#faculdade .iconify {
    font-size: 80px;
}

#direito {
    font-size: 30px;
}

#gestao {
    font-size: 30px;
}

/*-----Contato-----*/


#fale-conosco {
    justify-content: center;
    display: inline-block;
}
    

#fale-conosco p {
    font-size: 30px;
}

#contacts {
    padding: 0px;
}

#email {
    padding: 20px 98px;
    margin: 0px 60px 50px 0px;
    font-size: 28px;

}

#whatsapp {
    padding: 20px 85px;
    margin: 0px 0px 50px 60px;
    font-size: 28px;

}

#sociais a {
    display: inline-block;
    font-size: 22px ;
    padding: 5px 20px;
    margin: 100px 40px;
}

/*----------Footer---------*/
#rodape {
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 30px;
}

}


/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*----Medium Device----*/
@media screen and (max-width:790px) {
    
    h2 {
        font-size: 32px;
        text-align: center;
        letter-spacing: 10px;
        padding: 5px 0px;
        margin: 0px;
    }


    /*menu-principal*/


    #menu-principal {
        display: block;
        width: 100%;
    }

    #menu-principal a {
        padding-left: 40px;
        padding-right: 40px;
    }

    #logo img {
        height: 80px;
        color: #f7f5e6;
        padding-top: 10px;

    }
       
    #redes-sociais {
        width: 100%;
        display: block;
        font-size: 35px;
        padding: 10px 0px 0px 0px;
        margin: 0px;
        border-top: 3px solid #f7f5e6;
    }
    
    

/*menu-secundario*/

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
}

.icone-menu{
    display: block;
    position: absolute;
    margin-left: 0px;
    padding-top: 5px;
}

.nav-menu {
    display: block;
    position: absolute;
    width: 100%;
    transition: all 0.4s;
    margin-left: -120%;
    background-color: rgba(82, 101, 143, 0.7);
}

.mostrar {
    width: 85%;
    margin-left: 50px;
    }

    #menu-secundario ul {
        font-size: 25px; 
        display: block;
    }
    
    #menu-secundario ul li a {
        color: #f7f5e6;

    }
    
    #menu-secundario ul:hover {
        background-color: rgba(82, 101, 143, 0);
        color: #f7f5e6;
        transition: 3s;
    }
    
    #menu-secundario ul li:hover {
        background-color: rgba(82, 101, 143, 0);
        border: 0px;
    }
    
    #menu-secundario ul li a:hover {
        background-color: #333a56; 
        transition: 2s;
    }
    
    #menu-secundario {
        margin-top: 0px;
    }
    
    .menu1 {
        width: 15%;
        display: block;
        border-bottom: 5px solid #f7f5e6;
        border-left: 5px solid #f7f5e6;
        padding: 0px;
    }
    
    .menu2 {
        width: 24%;
        display: block;
        border-left: 5px solid #f7f5e6;
        border-bottom: 5px solid #f7f5e6;
        margin-left: 100px;
    }
    .menu3 {
        width: 28%;
        border-left: 5px solid #f7f5e6;
        border-bottom: 5px solid #f7f5e6;
        margin-left: 0px;
        padding-left: 5px;
    }
    
    .menu4 {
        width: 30%;
        border-left: 5px solid #f7f5e6;
        border-bottom: 5px solid #f7f5e6;
        margin-left: 220px;
        padding-left: 5px;
    }
    
    
    
/*-----Perfil------*/

#corpo {
    min-height: 85vh;

}

#perfil {
    margin-top: 150px;


}

#perfil img {
    width: 260px;
}


#perfil h1 {
    letter-spacing: 5px;
    margin: 20px 5px;
    font-size: 50px ;
    color: #333a56 ;
}

#perfil h1::after {
    content: '';
    width: 150px;
    margin: 10px auto;
}

#perfil p {
    letter-spacing: 5px;
    font-size: 35px;  
    color: #333a56;
    margin-top: 10px;
}



/*-----Sobre Mim-----*/

#sobre-texto {
    display: block;
    margin-top: 50px;
}

#sobre-texto blockquote {
    padding: 0px 30px;
    margin-top: 10px;
    margin-left: 100px;
    letter-spacing: 0px;
    font-size: 23px;
}

#sobre-texto p {
    padding: 0px 30px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-size: 20px;
}


/*-----Tecnologias-----*/



.dual-cards h4 {
    font-size: 25px;
}
 
#card1 {
    padding-bottom: 0px;
    display: inline-block;
    
}

#card2 {
    display: inline-block;
}

.space {
    display: inline-block;
    margin-bottom: 80px;
}

.space img {
    max-width:140x;
    max-height:140px;
    width: auto;
    height: auto;
}

.space::after {
    content: '';
    width: 130px;
    height: 5px;
    background: #333a56;
    display: block;
    margin: 20px auto;
}

    

/*-----Formação-----*/


#faculdade {
    display: block;
    padding: 20px 20px;
}
   

#faculdade .iconify {
    font-size: 65px;
  
}

#faculdade h4 {
    font-size: 28px;
}

#faculdade p {
    font-size: 28px;
}


#direito {
    margin-bottom: 60px;
}

#gestao {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: auto;
}


/*-----Contato-----*/


#fale-conosco p {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 80px;
   
}

#contacts {
    padding: 0px;
}

#email {
    padding: 20px 95px;
    margin:0px 20px 50px 20px;
    
}

#whatsapp {
    padding: 20px 80px;
    margin:0px 20px 40px 20px;
}

#sociais a {
    display: flex;
    margin: 30px 0px;
    justify-content: center;
    font-size: 18px;
    padding: 10px 12px;
}

/*----------Footer---------*/
#rodape {
    font-size: 18px;
    line-height: 30px;
}
}


/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*----Small Device----*/

@media screen and (max-width: 600px) {


    h2 {
        font-size: 25px;
        text-align: center;
        letter-spacing: 6px;
        padding: 10px 0px;
        margin: 0px;
    }


    /*menu-principal*/

    #menu-principal {
        display: block;
        width: 100%;
    }

    #menu-principal a {
        padding-left: 20px;
        padding-right: 20px;
    
    }

    #logo img {
        height: 70px;
        color: #f7f5e6;
        padding-top: 10px;

    }
       
    #redes-sociais {
        display: block;
        font-size: 30px;
        padding-top: 10px;
        border-top: 3px solid #f7f5e6;
    }
    

    /*menu-secundario*/
    .icone-menu{
        width: 40px;
        height: 40px;
    
    }
    .mostrar {
        width: 85%;
        }
    
        #menu-secundario ul {
            border: 3px solid #f7f5e6;
            padding: 0px;
            font-size: 25px;
        }

        #menu-secundario ul li {
            padding: 0px;
        }


        #menu-secundario ul a {
            padding: 5px;
        }


        .menu1 {
            width: 100%;
            display: block;
            border-bottom: 3px solid #f7f5e6;
            border-left: none;
            padding: 0px;
        }
        
        .menu2 {
            width: 100%;
            display: block;
            border: none;
            border-bottom: 3px solid #f7f5e6;
            margin-left: 0px;
            margin-top: 0px;

        
        }
        .menu3 {
            width: 100%;
            display: block;
            border: none;
            border-bottom: 3px solid #f7f5e6;
            margin-left: 0px;
            margin-top: 0px;

        }
        
        .menu4 {
            width: 100%;
            display: block;
            border: none;
            margin-left: 0px;
            margin-top: 0px;

        }
        
        
   /*Perfil*/

 #corpo {
    min-height: 85vh;
   }

#perfil {
    margin-top: 130px;
}
   
 #perfil img {
    width: 210px;

}

#perfil h1 {
    letter-spacing: 5px;
    margin: 10px;
    font-size: 35px ;
    color: #333a56 ;
}

#perfil h1::after {
    content: '';
    width: 150px;
}

#perfil p {
    letter-spacing: 5px;
    margin-bottom: 110px;
    font-size: 25px;  
    color: #333a56; 
}

/*-----Sobre Mim-----*/


#sobre-texto blockquote {
    padding: 0px 15px;
    margin-top: 10px;
    margin-left: 10px;
    letter-spacing: 0px;
    font-size: 17px;
}

#sobre-texto p {
    font-size: 16px;
    letter-spacing: 1px;
}


/*-----Tecnologias-----*/

.dual-cards h4 {
    font-size: 20px;
}
 
#card1 {
    padding-bottom: 0px;
    display: inline-block;
    
}

#card2 {
    display: inline-block;
}

.space {
    display: inline-block;
    margin-bottom: 40px;
}

.space img {
    max-width:150px;
    max-height:150px;
    width: auto;
    height: 120px;
    padding-bottom: 10px;
}

.space::after {
    content: '';
    width: 160px;
    height: 2px;
    background: #333a56;
    display: block;
    margin: 20px auto;
}
    

/*-----Formação-----*/


#faculdade {
    display: block;
    padding: 20px 20px;
}

#faculdade .iconify {
    color: #000000;
    font-size: 60px;
  
}

#faculdade h4 {
    font-size: 20px;
}

#faculdade p {
    font-size: 20px;
}


#direito {
    margin-bottom: 70px;
}

#gestao {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: auto;
}

/*-----Contato-----*/

#fale-conosco p {
    font-size: 19px;
    margin-top: 20px;
    margin-bottom: 80px;
   
}

#contacts {
    padding: 0px;
}

#email {
    padding: 15px 95px;
    margin:0px 20px 50px 20px;
    font-size: 20px;
}

#whatsapp {
    padding: 15px 80px;
    margin:0px 20px 40px 20px;
    font-size: 20px;
}

#sociais a {
    margin: 30px 0px;
    padding: 5px 0px;
    font-size: 14px;
}


/*----------Footer---------*/

#rodape {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    padding: 0px;
}

#rodape h4 {
    padding-top: 15px;
}

#rodape p {
    padding-bottom: 15px;
}
}


/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/*---- So Small Device----*/

@media screen and (max-width: 375px) {


    h2 {
        font-size: 22px;
        text-align: center;
        letter-spacing: 6px;
        padding: 10px 0px;
        margin: 0px;
    }

    p {
        font-size: 13px;
    }

/*Menu-Principal*/

    #logo img {
        height: 70px;
    }

    #redes-sociais {
        font-size: 28px;
    }


    /*menu-secundario*/
    
    .mostrar {
        width: 85%;
        }
    
        #menu-secundario ul {
            border: 5px solid #f7f5e6;
            padding: 0px;
            font-size: 22px;
        }

        #menu-secundario ul li {
            padding: 0px;
        }


        #menu-secundario ul a {
            padding: 5px;
        }


        .menu1 {
            width: 100%;
            display: block;
            border-bottom: 5px solid #f7f5e6;
            padding: 0px;
        }
        
        .menu2 {
            width: 100%;
            display: block;
            border: none;
            border-bottom: 5px solid #f7f5e6;
            margin-left: 0px;
            margin-top: 0px;

        
        }
        .menu3 {
            width: 100%;
            display: block;
            border: none;
            border-bottom: 5px solid #f7f5e6;
            margin-left: 0px;
            margin-top: 0px;

        }
        
        .menu4 {
            width: 100%;
            display: block;
            border: none;
            margin-left: 0px;
            margin-top: 0px;

        }

   /*Perfil*/

#corpo {
    min-height: 85vh;

}

#perfil {
    margin: 0px;
    margin-top: 75px;
}

 #perfil img {
    width: 180px;
    margin-top: 0px;
}

#perfil h1 {
    letter-spacing: 5px;
    margin: 0px;
    font-size: 35px ;
    color: #333a56 ;
}

#perfil p {
    letter-spacing: 5px;
   font-size: 25px;
}

/*-----Sobre Mim-----*/


#sobre-texto blockquote {
    margin-top: 0px;
    margin-left: 10px;
    font-size: 16px;
}

#sobre-texto p {
    padding: 0px 30px;
    margin-bottom: 10px;
    font-size: 16px ;
    letter-spacing: 1px;
}


/*-----Tecnologias-----*/

.dual-cards h4 {
    font-size: 16px;
}

.space img {
    max-width:300px;
    max-height:150px;
    width: auto;
    height: 110px;
    padding-bottom: 10px;
}

.space::after {
    width: 50px;
   
}
    

/*-----Formação-----*/


#faculdade .iconify {
    font-size: 50px;
}

#faculdade h4 {
    font-size: 20px;
}

#faculdade p {
    font-size: 20px;
}


/*-----Contato-----*/

#email {
    padding: 10px 60px;
    margin:0px 20px 50px 20px;
    font-size: 18px;
}

#whatsapp {
    padding: 10px 40px;
    margin:0px 20px 40px 20px;
    font-size: 18px;
}

#sociais a {
    margin: 30px 0px;
    padding: 5px;
    justify-content: center;
    font-size: 14px;

}


/*----------Footer---------*/

#rodape {
    font-size: 12px;
    line-height: 20px;
}

}
    























    





