* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: Georgia;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: center; 
}

header {
    width: 100%;
    vertical-align: middle;
}

h2 {
    font-size: 30px;
    text-align: justify;
    margin:0px 0px 60px 0px;
    padding: 20px 70px;
    font-weight: 200;
    background-color: rgb(55, 99, 73);

}

/* Class e Ids*/ 

/*------Menu-Principal-----*/
#menu-principal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    background-image: repeating-linear-gradient(90deg, rgb(32, 32, 32) 0px, rgb(32, 32, 32) 2px,rgb(33, 33, 33) 2px, rgb(33, 33, 33) 4px,rgb(34, 34, 34) 4px, rgb(34, 34, 34) 6px,rgb(33, 33, 33) 6px, rgb(33, 33, 33) 8px,rgb(36, 36, 36) 8px, rgb(36, 36, 36) 10px,rgb(35, 35, 35) 10px, rgb(35, 35, 35) 12px,rgb(33, 33, 33) 12px, rgb(33, 33, 33) 14px,rgb(32, 32, 32) 14px, rgb(32, 32, 32) 16px,rgb(36, 36, 36) 16px, rgb(36, 36, 36) 18px,rgb(34, 34, 34) 18px, rgb(34, 34, 34) 20px,rgb(35, 35, 35) 20px, rgb(35, 35, 35) 22px,rgb(35, 35, 35) 22px, rgb(35, 35, 35) 24px);
}

#menu-principal a {
    text-decoration: none;
    color: #BEBEBE;
    padding-left: 50px;
}

#logo img {
    height: 55px;
    weight: 100px;
    padding-top: 5px;
}

#redes-sociais {
    display: flex;
    box-sizing: border-box;
    margin-top: 8px;
    font-size: 28px;
}

.iconify {
    color: #fff;
}


/*---------Main--------*/

main {
    background-image:repeating-linear-gradient(135deg, rgba(236, 236, 236,0.02) 0px, rgba(236, 236, 236,0.02) 26px,rgba(210, 210, 210,0.02) 26px, rgba(210, 210, 210,0.02) 52px,rgba(184, 184, 184,0.02) 52px, rgba(184, 184, 184,0.02) 78px,rgba(158, 158, 158,0.02) 78px, rgba(158, 158, 158,0.02) 104px,rgba(131, 131, 131,0.02) 104px, rgba(131, 131, 131,0.02) 130px,rgba(105, 105, 105,0.02) 130px, rgba(105, 105, 105,0.02) 156px,rgba(79, 79, 79,0.02) 156px, rgba(79, 79, 79,0.02) 182px,rgba(53, 53, 53,0.02) 182px, rgba(53, 53, 53,0.02) 208px),repeating-linear-gradient(45deg, rgba(213, 213, 213,0.02) 0px, rgba(213, 213, 213,0.02) 26px,rgba(192, 192, 192,0.02) 26px, rgba(192, 192, 192,0.02) 52px,rgba(171, 171, 171,0.02) 52px, rgba(171, 171, 171,0.02) 78px,rgba(150, 150, 150,0.02) 78px, rgba(150, 150, 150,0.02) 104px,rgba(129, 129, 129,0.02) 104px, rgba(129, 129, 129,0.02) 130px,rgba(108, 108, 108,0.02) 130px, rgba(108, 108, 108,0.02) 156px,rgba(87, 87, 87,0.02) 156px, rgba(87, 87, 87,0.02) 182px,rgba(66, 66, 66,0.02) 182px, rgba(66, 66, 66,0.02) 208px),linear-gradient(90deg, #FFF,#FFF);
}


/*---------Menu secundario--------*/

.menu-secundario {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    font-weight: 20;
}

.menu-secundario ul {
    list-style: none;
    display: flex;
    text-align: center;
}

.menu-secundario ul li {
    padding: 30px;
    flex-grow: 1;
    border: solid 1px transparent;
}

.menu-secundario ul li a {
    text-decoration: none;
    color:black;
}

@media (max-width:520px) {
    .menu-secundario ul {
        display: block;
    }
}

/*---------- Perfil ----------*/


#perfil img {
    width: 250px;
    margin-top: 100px;
    border-radius: 30%;
    border: 4px solid black;

}

#perfil h1 {
    letter-spacing: 6px;
    margin: 5px auto;
    font-size: 40px ;
    margin-top: 40px;
}

#perfil h1::after {
    content: '';
    width: 200px;
    height: 2px;
    background: black;
    display: block;
    margin: 20px auto;
}

#perfil p {
    letter-spacing: 3px;
    margin-bottom: 300px;
    font-size: 20px;   
}

/*-----Sobre Mim-----*/

#sobre {
    width: 100%;
    color: black;
    display: flex;
    padding-top: 50px;
}

#sobre blockquote {
    text-align: justify;
    padding: 0px 70px;
    margin-left: 135px;
    font-size: 20px;
    border-left: 3px solid black;
    
}

#sobre p {
    text-align: justify;
    padding: 20px 70px 20px 70px;
    margin-block-start: 30px;
    margin-block-end: 30px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 20px;
}

#paragrafo {
    border-left: 2px solid red;
}

/*-----Tecnologias-----*/

#tecnologias {
    width: 100%;
}


#card-container {
    box-sizing: border-box;
    border-radius: 0 0 2px 2px;
    justify-content: left;
    border-top: 2px solid rgba(0,0,0,0.3);
    border-bottom: 2px solid rgba(0,0,0,0.3);
}

.dual-cards {
    display: flex;
    padding: 50px 0 50px 0;
    box-sizing: border-box;
    justify-content: space-around;
}

.dual-cards h4 {
    font-size: 20px;
}
 
.space {
    width: 100%;
}

.space img {
    max-width:100px;
    max-height:100px;
    width: auto;
    height: auto;
    padding-bottom: 12px;
}





/*-----Formação-----*/

#formação {
    width: 100%;
    margin: 80px auto;
}

#faculdade {
    box-sizing: border-box;
    border-radius: 0 0 2px 2px;
    display: flex;
    align-items: center;
    padding: 150px 0 150px 0;
    
}


#direito {

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 0px 300px;
    border: red solid;
}

#gestao {

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 0px 100px;
    border: red solid;
    
}

/*-----Contato-----*/

#fale-conosco {
    width: 100%;
    padding-bottom: 200px;
    
}

#email {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px 50px 10px 40px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 50px;
    cursor: pointer;

  }

  #whatsapp {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 50px;
    cursor: pointer;
  }


  .btns {
      text-align: center;
  }

  .efeito {
      border: none;
      color: #ffffff;
      padding: 20px;
      margin: 10px;
      font-size: 24px;
      line-height: 24px;
      border-radius: 10px;
      position: relative;
      box-sizing: border-box;
      cursor: pointer;
      position: all 400ms ease;
  }

  .efeito-3 {
    background: red;
}

  .efeito-3:hover {
      background: rgba(0,0,0,0);
      color: red;
      box-shadow: inset 0 0 0 3px red ;
  }

  /*-----Redes Sociais-----*/

#sociais {
    font-size: 14px;
    width: 100%;
    justify-content: center;
    background-color: none;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: table;
    margin: 0 auto;
    box-sizing: border-box;
}

#sociais a {
    padding: 12px;
}


/*----------Footer---------*/

#rodape {

    background-color: black;
    padding: 40px 0 40px 0;
    color: #BEBEBE;
    border: 2px solid red;
}







