* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: center; 
}

header {
    width: 100%;
}

h2 {
    background-color: #52658f;
    color: #f7f5e6;
    font-size: 30px;
    font-weight: 200;
    margin: 100px 0;
    padding: 20px 70px;
    text-align: justify;

}

/* Class e Ids*/ 

/*------Menu-Principal-----*/


#menu-principal {
    align-items: center;
    background-color: #333a56;
    display: flex;
    justify-content: space-around;
    padding: 0px;
    
}

#menu-principal a {
    color: #BEBEBE;
    padding-left: 50px;
    text-decoration: none;
}

#logo img {
    color: #f7f5e6;
    height: 70px;
    weight: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

#redes-sociais {
    box-sizing: border-box;menu
    display: flex;
    font-size: 32px;
    margin-top: 8px;
    
}

.iconify {
    color: #f7f5e6;
}


/*---------Main--------*/

main {
    background-image:repeating-linear-gradient(135deg, rgba(236, 236, 236,0.02) 0px, rgba(236, 236, 236,0.02) 26px,rgba(210, 210, 210,0.02) 26px, rgba(210, 210, 210,0.02) 52px,rgba(184, 184, 184,0.02) 52px, rgba(184, 184, 184,0.02) 78px,rgba(158, 158, 158,0.02) 78px, rgba(158, 158, 158,0.02) 104px,rgba(131, 131, 131,0.02) 104px, rgba(131, 131, 131,0.02) 130px,rgba(105, 105, 105,0.02) 130px, rgba(105, 105, 105,0.02) 156px,rgba(79, 79, 79,0.02) 156px, rgba(79, 79, 79,0.02) 182px,rgba(53, 53, 53,0.02) 182px, rgba(53, 53, 53,0.02) 208px),repeating-linear-gradient(45deg, rgba(213, 213, 213,0.02) 0px, rgba(213, 213, 213,0.02) 26px,rgba(192, 192, 192,0.02) 26px, rgba(192, 192, 192,0.02) 52px,rgba(171, 171, 171,0.02) 52px, rgba(171, 171, 171,0.02) 78px,rgba(150, 150, 150,0.02) 78px, rgba(150, 150, 150,0.02) 104px,rgba(129, 129, 129,0.02) 104px, rgba(129, 129, 129,0.02) 130px,rgba(108, 108, 108,0.02) 130px, rgba(108, 108, 108,0.02) 156px,rgba(87, 87, 87,0.02) 156px, rgba(87, 87, 87,0.02) 182px,rgba(66, 66, 66,0.02) 182px, rgba(66, 66, 66,0.02) 208px),linear-gradient(90deg, #FFF,#FFF);
}


/*---------Nav Menu--------*/

.icone-menu {
    margin-left: 0px;
    padding: 3px;
    
}

.icone-menu img {
    display: none;
    max-width:40x;
    max-height:40px;
    width: auto;
    height: auto;
    
}

.nav-menu {
    position: block;
    transition: all 0.8s;
    width: 100%;
}

.mostrar {
    margin-right: 0px;
    }

    
#nav-bar {
    font-size: 32px;
    font-weight: 1;
    
}

#nav-bar ul {
    display: flex;
    list-style: none;
    text-align: center;
    
}

#nav-bar ul li {
    padding: 10px;
    width: 100%; 
}


#nav-bar ul li a {
    color: #333a56;
    text-decoration: none;
  
}

#nav-bar ul:hover {
    background-color: rgba(82, 101, 143, 0.7);
    color: #f7f5e6;
    transition: 3s;
}

#nav-bar ul li:hover {
    background-color: rgba(247, 245, 230, 1);
    border-left: 3px solid #333a56;
    border-right: 3px solid #333a56;
}

/*---------- Perfil ----------*/

#corpo {
    min-height: 85vh;
}

#perfil {
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    margin-top:120px;

}

#perfil img {
    width: 280px;
    border: 1px solid #333a56;
    border-radius: 30%;

}

#perfil h1 {
    color: #333a56 ;
    font-size: 60px ;
    letter-spacing: 8px;
    margin: 5px auto;
    margin-top: 50px;
    
}

#perfil h1::after {
    content: '';
    background: #333a56;
    display: block;
    width: 200px;
    height: 2px;
    margin: 20px auto;
}

#perfil p {
    color: #333a56;
    font-size: 35px;  
    letter-spacing: 3px;
    margin-bottom: 170px;
}

/*-----Sobre Mim-----*/

.sobre {
    width: 100%;
    margin: 0px;
    
}

#sobre-texto {
    background-color: rgba(247, 245, 230, 0.3);
    border-top: 2px solid #333a56; 
    border-bottom: 2px solid #333a56; 
    margin: 30px auto 30px auto;
    padding: 30px 0 30px 0;
    
}

#sobre-texto blockquote {
    border-left: 5px solid  #333a56;
    background-position: left;
    background-size: 0% 100%;
    background-image: linear-gradient(rgba(82, 101, 143,0.5), rgba(82, 101, 143, 0.5));
    background-repeat: no-repeat;
    font-size: 22px;
    letter-spacing: 3px;
    margin-left: 135px;
    text-align: justify;
    padding: 0px 70px;
    transition: all 500ms ease-in-out;
}

#sobre-texto blockquote:hover {
    background-size: 100% 100%
}
  
      
#sobre-texto p {
    font-size: 20px;
    margin-block-start: 30px;
    margin-block-end: 30px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 20px 70px 20px 70px;
    text-align: justify;
    transform-origin: 0 100%;
    
}

/*-----Tecnologias-----*/

.tecnologias {
    width: 100%;
}


#card-container {
    background-color: rgba(247, 245, 230, 0.3);
    box-sizing: border-box;
    border-bottom: 2px solid #333a56; 
    border-top: 2px solid #333a56; 
    border-radius: 0 0 2px 2px;
    justify-content: left;
    margin: 50px auto 50px auto;
    padding: 50px 0 50px 0;
    
}

.dual-cards {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.dual-cards h4 {
    font-size: 20px;
}
 
#card1 {
    padding-bottom: 150px;
}

.space {
    width: 100%;
}

.space img {
    max-width:120x;
    max-height:120px;
    width: auto;
    height: auto;
    padding-bottom: 12px;
}



/*-----Formação-----*/

.formacao {
    width: 100%;
    justify-content: left;
}

#faculdade {
    background-color: rgba(247, 245, 230, 0.3);
    box-sizing: border-box;
    border-bottom: 2px solid #333a56; 
    border-top: 2px solid #333a56; 
    display: flex;
    justify-content: space-around;
    margin: 50px auto 50px auto;
    padding: 50px 0 50px 0;
}

#faculdade .iconify {
    color: #000000;
    font-size: 70px;
}

#direito {
    display: inline-block;
    font-size: 25px;
    margin: auto;
}

#gestao {
    display: inline-block;
    font-size: 25px;
    margin: auto;
}

/*-----Contato-----*/

.fale-conosco-container {
    width: 100%;
}

#fale-conosco {
    display: inline-block;
    justify-content: center;
    margin: 20px auto 20px auto;
    padding: 20px 0 20px 0;
}

#fale-conosco p {
    background-color: rgba(247, 245, 230, 0.3);
    border-top: 2px solid #333a56; 
    border-bottom: 2px solid #333a56; 
    font-size: 22px;
    margin-bottom: 100px;
    margin-top: -40px;
    padding: 8px 0;
}

#contacts {
    padding: 60px 0 80px 0;
}

#contacts a:hover {
    background-color: #52658f;
    color: #f7f5e6;
    transition: 0.7s;
}

#contacts .iconify {
    line-height: 3px;
}

#email {
    background-color: #f44336; 
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    margin: 0px 100px;
    padding: 10px 45px;
    text-decoration: none;
    
  }


  #whatsapp {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    margin: 0px 100px;
    padding: 11px 30px;
    text-decoration: none;
    
  }


  /*-----Redes Sociais Final-----*/


#sociais a {
    background-color: rgba(247, 245, 230, 0.3);
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px ;
    margin: 80px 60px;
    padding: 5px 40px;
    text-decoration: none;
}

.border {
    border: 2px solid #333a56;
}

/*----------Footer---------*/

#rodape {
    width: 100%;
    background-color:#333a56;
    color: #f7f5e6;
    font-size: 16px;
    padding: 20px 0px;
}







